* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}

body#login,
#register {
  background: url(/src/images/bg_dark2.jpg) !important;
  background-size: cover;
}

body#change_pass {
  background: url(/src/images/bg_dark.jpg) !important;
}

#change_pass .head_text {
  font-size: 1.1rem;
}
#change_pass .body_text {
  font-size: 0.8rem;

  font-weight: 700;
}

#change_pass #form {
  display: block;
}

#change_pass .form-group {
  margin: 0 !important;
}

#change_pass .btn_primary,
.btn_secundary,
#email {
  width: 100%;
}

.logo {
  width: 5rem;
  height: auto;
}

.card_login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  left: 0;
  width: auto;
  height: 100%;
  background-color: #fcfbfc;
  padding: 0 5rem;
  border-radius: 2rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.card_login .title {
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card_change_pass {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  top: 15rem;
  width: fit-content !important;
  height: 50%;
  background-color: #fcfbfc;
  padding: 4rem !important;
  border-radius: 2rem;
}

.title_text {
  color: #1a1a1a;
  padding: 1rem;
}

.subtitle_text {
  font-size: 1rem;
  color: #6c6c6c;
}

.btn_submit {
  width: 30rem;
}

.btn_back {
  width: 30rem;
}

#form {
  display: flex;
}

img {
  width: 10rem;
  margin-bottom: 0.5rem;
}

span {
  font-size: 1.5rem;
  text-align: center;
  color: #2e2e2e;
}

input {
  width: 20rem;
  background-color: #dcdcdc;
  border: none;
  border-radius: 0.6rem;
  padding: 1rem;
}

input#email:focus {
  border-color: #1a1a1a;
}

input::placeholder {
  font-size: 0.8rem !important;
  padding: 0 0.5rem;
}

button {
  width: 20rem;
  color: #fff;
  border: none;
  border-radius: 10rem !important;
  padding: 1em;
  text-transform: uppercase !important;
}

.bx_gp {
  display: flex;
  flex-direction: row;
}

.checkbox_btn {
  text-align: center;
  font-size: 1rem;
  padding: 0.375rem 0.75rem 0.375rem 0 !important;
}

.checkbox_btn,
.btn-group,
.btn_changepass:focus {
  box-shadow: none !important;
  border: none !important;
}

.checkbox {
  width: auto;
}
.btn_changepass {
  margin-bottom: 8px;
}
.btn_changepass span {
  font-size: 1rem;
}

.btn_changepass span:hover {
  color: #6c6c6c;
}

.btn_primary {
  background-color: #252424;
  margin: 0.2rem 0;
}

.btn_primary:hover {
  background-color: #1a1a1a;
}

.btn_primary:focus {
  background-color: #1a1a1a;
  border: none;
}

.btn_secundary {
  color: #2e2e2e;
  border: 2px solid #252424;
  margin: 0.3rem 0;
}

.btn_secundary:hover {
  background-color: #6c6c6c;
  border: 2px solid #6c6c6c;
  color: #fff;
}

.col-sm-1-12 {
  margin: 0.5rem 0;
}

@media only screen and (max-width: 1366px) {
  .card_change_pass {
    top: 8rem;
  }
}

@media only screen and (max-width: 450px) {
  .card_change_pass {
    margin: 0 1rem !important;
    padding: 2rem !important;
  }
}
